<!doctype html>
<html ng-app="phoneticsApp" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Phonetics</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta meta-theme name="theme-color" content="{{ currentThemeColor }}" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="styles.css" />

    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/angular-ripple.js"></script>
    <script src="js/utils.js"></script>
    <script>
      (function() {
        'use strict';

        if ('serviceWorker' in navigator) {
          let logger = (str) => (obj) => console.log(str, obj);

          navigator.serviceWorker
            .register('js/service-worker.js', {scope: '*'})
            .then(logger('registered'))
            .catch(logger('register errored with: '));

        } else console.log('Service Worker not available');
      })();
    </script>
  </head>
  <body ng-controller="LangCtrl" prevent-popups md-theme="{{ dynamicTheme }}" snap>
    <div id="loader">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <span>Loading languages...</span>
    </div>

    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <h2>{{title || "Choose one"}}</h2>
        <span flex></span>
        <md-switch ng-model="toggleStatus" ng-change="notifyChange()" ng-show="!!getToggleLabel()">{{ getToggleLabel() || "disabled"}}</md-switch>
      </div>
    </md-toolbar>

    <md-content>
      <div a-panel id="langs">
        <md-grid-list
          md-cols-sm="4"
          md-cols-md="6"
          md-cols-lg="8"
          md-cols-gt-lg="10"
          md-row-height="1:1"
          md-gutter="0px"
          md-on-layout="setMinHeight()">

          <md-grid-tile
            ng-repeat="lang in langs | orderBy:'name'"
            md-rowspan="2"
            md-colspan="2"
            class="md-title"
            style="background-color: {{ lang.color }}">
              <a href="#{{ lang.code }}"
                angular-ripple
                title="{{ lang.originalName || lang.name }}"
                class="lang-name">{{ lang.name }}</a>
          </md-grid-tile>
        </md-grid-list>
      </div>

      <div id="{{lang.code}}"
        a-panel
        ng-controller="SoundBoardCtrl"
        ng-repeat="(idx, lang) in langs"

        style="background-color: {{lang.color}}">

        <md-grid-list
          md-cols-sm="4"
          md-cols-md="6"
          md-cols-lg="8"
          md-cols-gt-lg="10"
          md-row-height="1:1"
          md-gutter="0px"
          md-on-layout="setMinHeight()">

          <md-grid-tile a-sound ng-repeat="s in sounds | filter:toggleFilter | orderBy:normalizedSoundName">
            <audio ng-src="{{s.parseFile + '?soundFallback=' + s.localFile}}" preload="auto"></audio>
            <a angular-ripple
              href="#{{lang.code}}_{{s.name}}"
              class="md-display-3 letter">{{ getSoundLabel(s.name, s.altNames[0]) }}</a>

          </md-grid-tile>

        </md-grid-list>
      </div>

      <div id="about" a-panel layout="column">
        <header layout="row" layout-align="center center">
          <h1>Made with love by</h1>
        </header>
        <div layout="row" flex layout-sm="column">
          <div flex layout="column" layout-align="center center" id="authorDM">
            <img class="avatar" src="derp.jpg" />
            <header>
              <h2>Damian Mee</h2>
              <h4><i>Works</i> and stuff</h4>
            </header>
          </div>

          <div flex layout="column" layout-align="center center" id="authorAK">
            <img class="avatar" src="derpette.png" />
            <header>
              <h2>Ai Kordek</h2>
              <h4>Looks and stuff</h4>
            </header>
          </div>
        </div>

      </div>
    </md-content>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-12389124-6','auto');ga('send','pageview');
    </script>
  </body>
</html>
