<!doctype html>
<html ng-app="phoneticsApp" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Phonetics</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta meta-theme name="theme-color" content="{{ currentThemeColor }}" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="styles.css" />

    <script src="//www.parsecdn.com/js/parse-1.5.0.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.js"></script>

    <script src="main.js"></script>
    <script src="angular-ripple.js"></script>
    <script src="utils.js"></script>
  </head>
  <body ng-controller="LangCtrl" md-theme="{{ dynamicTheme }}" snap>
    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <h2>{{title || "Choose one"}}</h2>
        <span flex></span>
        <md-switch ng-model="soundNameInstead">{{soundNameInstead ? 'name' : 'sound'}}</md-switch>
      </div>
    </md-toolbar>

    <md-content>
      <md-grid-list
        a-panel
        md-cols-sm="4"
        md-cols-md="6"
        md-cols-lg="8"
        md-cols-gt-lg="10"
        md-row-height="1:1"
        md-gutter="0px"
        md-on-layout="setMinHeight()">

        <md-grid-tile
          ng-repeat="lang in langs"
          md-rowspan="2"
          md-colspan="2"
          class="md-title"
          style="background-color: {{lang.color}}">
            <a angular-ripple href="#{{lang.code}}" class="lang-name">{{ lang.name }}</a>
        </md-grid-tile>
      </md-grid-list>

      <div id="{{lang.code}}"
        a-panel
        ng-controller="SoundBoardCtrl"
        ng-repeat="lang in langs"

        style="background-color: {{lang.color}}">

        <md-grid-list
          md-cols-sm="4"
          md-cols-md="6"
          md-cols-lg="8"
          md-cols-gt-lg="10"
          md-row-height="1:1"
          md-gutter="0px"
          md-on-layout="setMinHeight()">

          <md-grid-tile a-sound ng-repeat="s in sounds | orderBy:normalizedSoundName">
            <audio ng-src="{{soundNameInstead ? s.soundName || s.sound : s.sound || s.soundName}}" preload="auto"></audio>
            <a angular-ripple
              href="#{{lang.code}}_{{s.name}}"
              ng-class="(soundNameInstead && !s.soundName) || (!soundNameInstead && !s.sound) ? 'disabled' : ''"
              class="md-display-3 letter">{{ s.altNames[0] || s.name }}</a>

          </md-grid-tile>

        </md-grid-list>
      </div>
    </md-content>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-12389124-6','auto');ga('send','pageview');
    </script>
  </body>
</html>
