@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/earlyaccess/notosansthai.css);

html {
  font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif !important;
}

md-switch {
  width: 100px;
}

[scroll] {
  position: fixed;
  top: 0;
}

md-content {
  padding-top: 64px;
}

md-button {
  height: 100%;
  width: 100%;
}

.lang-name, .letter {
  height: 98%;
  width: 98%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
